<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="josimar mamani <elratonmaton@gmail.com>" />
    <title>Historias de Arequipa | VIMLA</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body>
    <div class="container">
        <div class="header-container">
            <div class="header"></div>
        </div>

        <div class="icons-cont show-mobile">
            <a class="icon-item">
                <img class="icon" src="{% static 'images/instagram-icon.svg' %}" alt="instagram">
                <span class="text">vimla</span>
            </a>
            <a class="icon-item">
                <img class="icon" src="{% static 'images/web-icon.svg' %}" alt="web">
                <span class="text">vimla.pe</span>
            </a>
        </div>

        <div class="logo-cont">
            <img class="logo" src="{% static 'images/logo.jpg' %}" alt="logo">
        </div>

        <div class="icons-cont hide-mobile">
            <a class="icon-item">
                <img class="icon" src="{% static 'images/instagram-icon.svg' %}" alt="instagram">
                <span class="text">vimla</span>
            </a>
            <a class="icon-item">
                <img class="icon" src="{% static 'images/web-icon.svg' %}" alt="web">
                <span class="text">vimla.pe</span>
            </a>
        </div>

        <div class="main-text-container">
            <div class="text-centered">
                <p class="text">Tú tienes historias que contar; historias de vivencias que te han marcado positiva y negativamente, historias que te han hecho la persona que eres ahora. En este espacio puedes sacarlas de tu pecho anónimamente y materializarlas en palabras escritas por ti. </p>
                <p class="text">Mi nombre es Víctor M. Lozada y soy escritor. El objetivo de esta página es recibir historias de personas de Arequipa las cuales utilizaré como inspiración para crear un libro de relatos; relatos que muestren un rostro verdadero e íntimo de nuestra ciudad. No hay temas, no hay restricciones, puedes escribir lo que quieras y al hacerlo no solo te sentirás mejor, sino que un pedazo de tu vida quedará plasmado en un libro que esperemos sea una herramienta única para entender lo que significa ser arequipeño y arequipeña. </p>
                <p class="text">Puedes enviar historias hasta el 31 de Diciembre de este año. Mientras tanto, aquí publicaré cada quincena ejemplos de escritos recibidos. </p>
            </div>
        </div>

        <div class="countdown-container">
            <div class="title">Tiempo restante <br> para subir tu historia </div>

            <div class="countdown">
                <div class="countdown-item">
                    <div class="numbers">
                        <div class="number" id="day1">1</div>
                        <div class="number" id="day2">0</div>
                    </div>
                    <div class="text">Días</div>
                </div>

                <div class="countdown-item">
                    <div class="numbers">
                        <div class="number" id="hour1">1</div>
                        <div class="number" id="hour2">1</div>
                    </div>
                    <div class="text">Horas</div>
                </div>

                <div class="countdown-item">
                    <div class="numbers">
                        <div class="number" id="minute1">4</div>
                        <div class="number" id="minute2">0</div>
                    </div>
                    <div class="text">Minutos</div>
                </div>

                <div class="countdown-item">
                    <div class="numbers">
                        <div class="number" id="second1">1</div>
                        <div class="number" id="second2">5</div>
                    </div>
                    <div class="text">Segundos</div>
                </div>
            </div>
        </div>

        <div class="form-container">
            {% csrf_token %}
            <textarea id="history-content" name="text" class="custom-textarea" placeholder="Escribe aquí tu historia..."></textarea>

            <button id="send-history" class="custom-button">Enviar historia</button>
        </div>


        <div class="comments-container">
            <div class="title">Ejemplos de historias recibidas</div>

            {% for history in histories %}

            <div class="comment">
                <div class="icons">
                    <a class="icon" href="#"><img src="{% static '/images/facebook-icon.svg' %}" alt="facebook"></a>
                    <a class="icon" href="#"><img src="{% static '/images/whatsapp-icon.svg' %}" alt="whatsapp"></a>
                    <a class="icon" href="#"><img src="{% static '/images/instagram-icon-red.svg' %}" alt="instagram"></a>
                    <a class="icon" href="#"><img src="{% static '/images/twitter-icon.svg' %}" alt="twitter"></a>
                </div>
                <div class="text-container">
                    <div class="text">
                        {{ history.history|linebreaks }}
                    </div>
                    <div class="text-footer">
                        <img src="{% static '/images/bottom-icon.svg' %}" alt="bottom">
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>

        <div class="footer">
            <a href="#" class="footer-item">
                <img class="icon" src="{% static '/images/instagram-icon-white.svg' %}" alt="instagram">
                <span class="text">vimla</span>
            </a>
            <a href="#" class="footer-item">
                <img class="icon" src="{% static '/images/web-icon-white.svg' %}" alt="web">
                <span class="text">vimla.pe</span>
            </a>
        </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/form-history.js' %}"></script>
</body>
</html>