@font-face {
    font-family: 'montserrat-light';
    src: url('/fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: 'montserrat-medium';
    src: url('/fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'montserrat-regular';
    src: url('/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'zurita';
    src: url('/fonts/ZURITA.otf');
}

body {
    margin: 0;
}

.container {
    background: url('/images/background-50.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    width: 100%;
}

.header-container {
    overflow: hidden;
    .header {
        width: 100%;
        height: 100px;
        background: url('/images/topbar.jpg');
        background-size: cover;
        background-repeat: repeat-x;
    }
}

.logo-cont {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;

    .logo {
        height: 42px;
    }
}

.icons-cont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    .icon-item {
        display: flex;
        align-items: center;
        margin-right: 25px;
        .icon {
            height: 16px;
            margin-right: 5px;
        }
        .text {
            font-family: 'montserrat-medium';
            font-size: 16px;
        }
    }
}

.main-text-container {
    background: url('/images/mancha_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 900px;
    display: flex;
    align-items: center;
    .text-centered {
        width: 60%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
        .text {
            font-family: 'montserrat-regular';
            font-size: 18px;
            color: #ffffff;
            text-align: center;
            line-height: 25px;
            margin-bottom: 25px;
        }
    }
}

.countdown-container {
    margin-top: 10px;
    background: url('/images/mancha_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .title {
        font-family: 'montserrat-regular';
        color: #ffffff;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
        width: 350px;
    }

    .countdown {
        background: #ffffff;
        margin-top: 50px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        .countdown-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            .numbers {
                display: flex;
                .number {
                    border: 1px solid #C94760;;
                    padding: 5px;
                    margin-right: 1px;
                    font-family: 'zurita';
                    color: #C94760;
                    font-size: 20px;
                }
            }
            .text {
                font-family: 'montserrat-regular';
                color: #C94760;
                margin-top: 10px;
            }
        }
    }
}

.form-container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    text-align: right;
    .custom-textarea {
        border: 1px solid #C94760;
        background: transparent;
        width: 97%;
        min-height: 150px;
        border-radius: 25px;
        font-family: 'montserrat-light';
        color: #000000;
        padding: 15px;
        outline: none;
    }
    .custom-button {
        margin-top: 10px;
        font-family: 'zurita';
        color: #ffffff;
        background: #C94760;
        font-size: 15px;
        letter-spacing: 1px;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }
}

.comments-container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    .title {
        color: #C94760;
        font-size: 30px;
        font-family: 'montserrat-medium';
    }

    .comment {
        margin-top: 30px;
        display: flex;
        .icons {
            display: flex;
            flex-direction: column;
            padding-top: 13px;
            .icon {
                margin-top: 10px;
                img {
                    width: 20px;
                }
            }
        }

        .text-container {
            margin-left: 30px;
            .text::first-letter {
                font-family: 'zurita';
                color: #C94760;
                line-height: 0.65;
                margin: 10px;
                font-size: 90px;
                float: left;
            }
            .text {
                font-family: 'montserrat-light';
                font-size: 20px;
            }
            .text-footer {
                margin-top: 50px;
                img {
                    height: 20px;
                }
            }
        }
    }
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C94760;
    padding: 15px 0;
    .footer-item:last-child {
        margin-right: 0;
    }
    .footer-item {
        display: flex;
        align-items: center;
        margin-right: 25px;
        text-decoration: none;
        .icon {
            height: 15px;
            margin-right: 5px;
        }
        .text {
            font-family: 'montserrat-medium';
            font-size: 15px;
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.hide-mobile {
    display: flex;
}
.show-mobile {
    display: none;
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    .logo-cont {
        margin-top: 40px;
        margin-bottom: 50px;
        .logo  {
            height: auto;
            width: 90%;
        }
    }

    .icons-cont {
        margin-top: 20px;
        justify-content: space-between;
        width: 100%;
        .icon-item:first-child {
            padding-left: 20px;
        }
        .icon-item:last-child {
            padding-right: 20px;
        }
        .icon-item {
            margin-right: 0;
        }
    }

    .hide-mobile {
        display: none;
    }
    .show-mobile {
        display: flex;
    }

    .main-text-container {
        min-height: 500px;
        background-size: cover;
        padding-top: 80px;
        padding-bottom: 100px;

        .text-centered {
            width: 100%;
            padding: 0 20px;
            .text {
                text-align: left;
            }
        }
    }

    .countdown-container {
        background-size: cover;
        .title {
            text-align: left;
        }
    }

    .form-container {
        width: 100%;
        .custom-textarea {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
        .custom-button {
            margin-right: 5%;
        }
    }

    .comments-container {
        width: 100%;
        .title {
            padding: 0 20px;
        }
        .comment {
            padding: 0 20px;
            flex-direction: column;
            .icons {
                flex-direction: row;
                width: 100%;
                align-items: center;
                .icon {
                    margin-right: 10px;
                }
            }
            .text-container {
                margin-left: 0;
                .text {
                    font-size: 14px;
                }
                .text-footer {
                    img {
                        height: auto;
                        width: 50%;
                    }
                }
            }
        }
    }
    .footer {
        justify-content: space-between;
        padding: 15px 20px;
    }
}